<div id="page-wrapper">
	<nav id="main-nav" >
		<ul id="main-nav-list">
		
	
	<li>
		<a href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>
		
	</li>
	
	<li>
		<a href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>
		
	</li>
	
</ul>
</nav>

<div id="image-cookblog">
	<img src="/images/Header.jpg" alt="rss feed" />
	</div>


</div>
