
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	
	<script src="yahoo.js"></script>
	<script src="event.js"></script>
	<script src="container_core.js"></script>
	<script src="dom.js"></script>
	<script src="animation.js"></script>

	<!-- Source file -->
	<script src="carousel.js"></script>

	<head>
		<title>Header</title>
		
		
		
		<script language="JavaScript">
			
			function popUp(URL)
			{
				eval("page" + "=window.open(URL, '"+"', 'width=467,height=289,top=400,left=700');");
			}
			
			
		</script>
		
	</head>

	<body >
		

		<div id="page-wrapper">

			<div id="main-nav" >
				<ul id="nav">

					<li>
						<a href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a id="2" href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</div>

			<%= image_tag 'Header.jpg', :style => "width: 960px; height: 200px"%>

		<div id="rules-wrapper">
			
			<ol>
				
				
				<li><a href="javascript:popUp('confirmation')">Texto del enlace</a>
					</li>
				
				
			</ol>
			
		</div>
			
			
				
		
<footer id="page-footer">
	<nav id="footer-nav">
		<ul id="footer-nav-list">
			<li><a href="OfficialRules.html" title="Official Rules">Official Rules</a</li>
				<li><a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a</li>
			
			<li><a href="ContactUs.html" title="Contact Us">Contact Us</a</li>
			
				
</ul>
</nav>
</footer>
		
		</div>
	</body>
</html>

