
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<script src="yahoo.js"></script>
	<script src="event.js"></script>
	<script src="container_core.js"></script>
	<script src="dom.js"></script>
	<script src="animation.js"></script>

	<!-- Source file -->
	<script src="carousel.js"></script>

	<head>
		<title>Header</title>
		
	</head>

	<body >
		

		<div id="page-wrapper">

			<div id="main-nav" >
				<ul id="nav">

					<li>
						<a href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a id="2" href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</div>

			<%= image_tag 'Header.jpg', :style => "width: 960px; height: 200px"%>

			<!-- Carousel Structure -->
			<div id="mycarousel" class="carousel-component">
				<div class="carousel-prev">
					<%= image_tag 'Navigation-Left.png', :alt => "Previous Button", :id => "prev-arrow", :class => "left-button-image"%>
				</div>
				<div class="carousel-next">
					<%= image_tag 'Navigation-Right.png', :alt => "Next Button", :id => "next-arrow", :class => "right-button-image" %>
				</div>
				<div class="carousel-clip-region">
					<ul class="carousel-list">
						<li id="mycarousel-item-1">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/74/162582364_7fc3e2d60d_s.jpg" alt="item 1"/></a>Number One
						</li>
						<li id="mycarousel-item-2">
							<div>
								<a href="#"><img width="75" height="75" src="http://static.flickr.com/67/162582262_e969394bc3_s.jpg" alt="item 2"/></a>Number Two
							</div>
						</li>
						<li id="mycarousel-item-3">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/49/162582189_e0571b02e2_s.jpg" alt="item 3"/></a>Number Three
						</li>
						<li id="mycarousel-item-4">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/53/162581581_de49021696_s.jpg" alt="item 4"/></a>Number Four
						</li>
						<li id="mycarousel-item-5">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/74/161894590_9a1a9788e1_s.jpg" alt="item 5"/></a>Number Five
						</li>
						<li id="mycarousel-item-6">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/55/161894230_a4f1baf3d2_s.jpg" alt="item 6"/></a>Number Six
						</li>
						<li id="mycarousel-item-7">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/52/161894040_04f135f1a2_s.jpg" alt="item 7"/></a>Number Seven
						</li>
						<li id="mycarousel-item-8">
							<a href="#"><img width="75" height="75" src="http://static.flickr.com/54/161893927_c173a1e28c_s.jpg" alt="item 8"/></a>Number Eight
						</li>
					</ul>
				</div>
			</div>
			
			
				<%=image_tag 'Bottom-Image.jpg', :style => "width: 960px; height: 200px"%>
		
<footer id="page-footer">
	<nav id="footer-nav">
		<ul id="footer-nav-list">
			<li><a href="OfficialRules.html" title="Official Rules">Official Rules</a</li>
				<li><a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a</li>
			
			<li><a href="ContactUs.html" title="Contact Us">Contact Us</a</li>
			
				
</ul>
</nav>
</footer>
		
		</div>
	</body>
</html>

