

<div id="congratulations-wrapper" >

<a href=""><%= image_tag 'Vote-Cast-English.png', :style => "width: 467; height: 289px"%></a>


<div><a href="vote">Quitar y colocarlo en go back</div>
	<div><a href="http://gortonsenespanol.com">Quitar cuando colocarlo en more recipes at gortons.com</div>


</div>
