

#page-wrapper{
	width:960px;
	margin: 0 auto;
 background-color:rgb(246,241,149);
  
	
	

}



#header-nav {
    background-color:rgb(254,237,47); 
      height:40px;
      text-align:center;
     
      text-decoration:none;
 
      }  
   #header-nav #header-nav-list {
   
    list-style-type:none;
    display:inline-block;
    margin:0;
    padding:0;
  
     
    
      }
      #header-nav #header-nav-list li{
        
        float:left;
       
           
  
      }
   
   
   #header-nav #header-nav-list li a {
    display: block;
    text-decoration: none;
    margin-top:10px;
     border-left:1px solid #000; 
    color:rgb(246,241,149);
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    
      }
       #header-nav #header-nav-list li #first{
             
    border-left:none;
              
            }
       
            #header-nav #header-nav-list li a:hover{
  
  
  color:#000;
  background-color:rgb(254,237,47); 
}



 
   /* End navigation bar styling. */
  
  
  
  #footer-nav{
    
   
    text-decoration:none;
    text-align: center;
    
    
  }
  #footer-nav #footer-nav-list{
    list-style:none;
display:inline-block;
margin:0;
padding:0;
  }

#footer-nav #footer-nav-list li{
float:left;

}
#footer-nav #footer-nav-list li #firstchild{
  
  border-left:none;
  
  
}






#footer-nav #footer-nav-list li a{
  display:block;
text-decoration:none;
padding-left:5px;
padding-right:5px;
color:#000;


border-left: 1px solid #000;
font-size:11px;
}

#footer-nav #footer-nav-list li a:hover{
  
  
  color:#000;
  background-color:yellow; 
}



#mycarousel{
  
  
    background-color:rgb(254,237,47);
  
}











