

#page-wrapper{
	width:960px;
	margin: 0 auto;
 background-color:rgb(246,241,149);
  
	
	

}



#header-nav {
    background-color:rgb(254,237,47); 
      height:40px;
      text-align:center;
     
      text-decoration:none;
 
      }  
   #header-nav #header-nav-list {
   
    list-style-type:none;
    display:inline-block;
    margin:0;
    padding:0;
  
     
    
      }
      #header-nav #header-nav-list li{
        
        float:left;
       
           
  
      }
   
   
   #header-nav #header-nav-list li a {
    display: block;

    text-decoration: none;
  
  margin-top:10px;
    
    
    color:#000;
    text-align:center;
    
      }
       #header-nav #header-nav-list li #first{
             
     padding-right:5px;
              
            }
            #header-nav #header-nav-list li #second{
              
              padding-left:5px;
                  border-left:1px solid #000;  
             
              
            }
            #header-nav #header-nav-list li a:hover{
  
  
  color:#000;
  background-color:rgb(254,237,47); 
}



 
   /* End navigation bar styling. */
  
  #footer-nav #footer-nav-list{
    list-style:none;
  }

#footer-nav #footer-nav-list li{
float:left;
display:inline;
}






#footer-nav #footer-nav-list li a{
text-decoration:none;
width:100px;
color:#000;
float:left;
text-align:center;
border-left: 1px solid #fff;
font-size:11px;
}

#footer-nav #footer-nav-list li a:hover{
  
  
  color:#000;
  background-color:yellow; 
}



#mycarousel{
  
  
    background-color:rgb(254,237,47);
  
}











