

#page-wrapper{
	width:960px;
	margin: 0 auto;
  background-color:rgb(254,237,47);
  
}




.jMyCarousel #carousel-ul li {
  
  margin-left:80px;
  margin-top:20px;
  margin-bottom:20px;

  
  width:118px;

background-color:#fff;
  
  
}

div.jMyCarousel{
 
  display:inline-block;
  width:100px;
  margin-left:5%;

}

.jMyCarousel #wrapper-home{
  



}


#backgroundBottomHome{
  background-color: rgb(246,241,149);
  border-top:1px;

}

#line-home{
  
  background: #f2f6f8; /* Old browsers */
background: -moz-linear-gradient(left,  #f2f6f8 0%, #8bc1e5 0%, #006eb6 100%, #e0eff9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f6f8), color-stop(0%,#8bc1e5), color-stop(100%,#006eb6), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f2f6f8 0%,#8bc1e5 0%,#006eb6 100%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f2f6f8 0%,#8bc1e5 0%,#006eb6 100%,#e0eff9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f2f6f8 0%,#8bc1e5 0%,#006eb6 100%,#e0eff9 100%); /* IE10+ */
background: linear-gradient(to right,  #f2f6f8 0%,#8bc1e5 0%,#006eb6 100%,#e0eff9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 */


  height:3px;
  margin-bottom:3px;
}



.textName{
  text-align: center;
  font-family: "Heavy";
  font-size:11px;
  

 
}

.textRecipe{
    
  font-family: "MediumItalic";
margin-left:30px;
    font-size:8px;
}
.textBlog{
   text-align: center;
  font-family: "MediumItalic";
    font-size:11px;
  
}

.textBios{
    text-align: center;
  font-family: "Book";
  font-size:7px;
  
}

