#header-recipes-gradient{
      width: inherit;
      height:40px;
      background: #d1cb81; /* Old browsers */
background: -moz-linear-gradient(top,  #d1cb81 1%, #f6f195 12%, #f6f195 71%, #f6f195 74%, #b2ad6c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d1cb81), color-stop(12%,#f6f195), color-stop(71%,#f6f195), color-stop(74%,#f6f195), color-stop(100%,#b2ad6c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1cb81', endColorstr='#b2ad6c',GradientType=0 ); /* IE6-9 */


}

#body-recipes-wrapper{
      width:auto;
      background-color:rgb(254,237,47);
      display:block;
      padding-left:60px;
      padding-right:60px;
      padding-top:60px;
      padding-bottom:20px;
      
}

#body-recipes-gradient{
background: #d1cb81; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #d1cb81 1%, #f6f195 12%, #f6f195 71%, #f6f195 74%, #b2ad6c 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#d1cb81), color-stop(12%,#f6f195), color-stop(71%,#f6f195), color-stop(74%,#f6f195), color-stop(100%,#b2ad6c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #d1cb81 1%,#f6f195 12%,#f6f195 71%,#f6f195 74%,#b2ad6c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1cb81', endColorstr='#b2ad6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height: 500px;
}
}
#body-recipes-carousel{
  width:auto;
  padding:5px
f
}
}

#wrapper-logo-recipe{
      position:relative;
}

#image-logo-recipe{
      position:absolute;
      top:90px;
      left:400px;
}
#page-wrapper-recipes{
  width:960px;
  margin: 0 auto;
 background-color:rgb(246,241,149);
 
  
}
#popup {
  
}


#image-recipe{
	
	float:left;
	width:50px;	
	
}






.jMyCarousel #carousel-ul-recipe li {
  
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;

  
  width:221px;
 

background-color:#fff;
  height: 450px;
}
  
}

div.jMyCarousel{
 
  display:inline-block;
  width:100px;
  margin-left:5%;

}



.textName-recipe{
  text-align: center;
  font-family: ITCFranklinGothicStd-Hvy;
  margin-top:10px;
  font-size:11px;
 
}




.textBloggerName-recipe{
  text-align: center;
  font-family: ITCFranklinGothicStd-Hvy;
  margin-top:10px;
  font-size:11px;
 
}

.textRecipe-recipe{
    text-align: center;
  font-family: ITCFranklinGothicStd-Book;
}
.textBlog-recipe{
   text-align: center;
  font-family: ITC FranklinGothic Std;
  
}

.textDescription-recipe{
    text-align: center;
  font-family: ITC FranklinGothic Std;
  
}

.ingredientsRecipes{
	
text-align:center;
}







