#body-recipes-wrapper{
      width:960px;
      margin: auto;
      background-color:rgb(254,237,47);
}

#mycarousel-recipes{
    background-color:rgb(0,237,47);
    margin: 40px;
    display:inline-block;
}
      .carousel-recipes-component {
        padding: 8px 16px 4px 16px;
      }
      .carousel-recipes-component .carousel-recipes-list li {
        margin: 4px;
        width: 79px; /* img width is 75 px from flickr + a.border-left (1) + a.border-right(1) +
         img.border-left (1) + img.border-right (1)*/
        height: 93px; /* image + row of text (87) + border-top (1) + border-bottom(1) + margin-bottom(4) */
        /*  margin-left: auto;*/ /* for testing IE auto issue */
      }

      .carousel-recipes-component .carousel-recipes-list li a {
        display: block;
        border: 1px solid #e2edfa;
        outline: none;
      }

      .carousel-recipes-component .carousel-recipes-list li a:hover {
        border: 1px solid #aaaaaa;
      }

      .carousel-recipes-component .carousel-recipes-list li img {
        border: 1px solid #999;
        display: block;
      }

      .carousel-recipes-component .carousel-recipes-prev {
        position: absolute;
        top: 40px;
        z-index: 3;
        cursor: pointer;
        left: 5px;
      }

      .carousel-recipes-component .carousel-recipes-next {
        position: absolute;
        top: 40px;
        z-index: 3;
        cursor: pointer;
        right: 5px;
      }